.show {
  // background: ;
  .restaurant-info {
    text-align: center;
    padding: 30px;
  }
  .review-display {
    font-weight:bolder;
    background: white;
    padding: 15px;
  }
  .options {
    padding: 20px;
    color: white;
    text-align: center;
  }
}
